

/* CUSTOM PROPERTIES */

*,
*::before,
*::after {
    /* Changing how padding is calculated to make it within a width instead of adding on the total width of something */
    box-sizing: border-box; 
}

:root {
    /* font family */
    --ff-primary: 'Source Sans Pro', sans-serif ;
    /* Just in case you wanna use this font */
    --ff-secondary: 'Source Code Pro', monospace;

    /* font weight */
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    /* font size */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* Box size */
    --bs: 0.25em 0.25em 0.75em rbga(0,0,0,.25);
          /* 0.125em 0.125em 0.25em rgba(0,0,0,.15); */

}

/* Once you screen is in this range, all the predefined size will be activated */

/* What happen when screen is 800 and up */
@media (min-width: 800px) {

    /* redefine your root css */
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Style */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;

}

section {
    padding: 5em 2em;
}

img {
    /* Display block to get rid of image issue */
    display: block;
    /* set max width so it won't overflow and grow outside of its parent */
    max-width: 100%; 

}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* My Work Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


/* Typography */
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;

}

h1 {font-size: var(--fs-h1)}

h2 {font-size: var(--fs-h2) }

h3 {font-size: var(--fs-h3)}


.section-title {

    margin-bottom: .25em;
}

.section-title--intro{
    font-weight: var(--fw-reg);
}
.section-title--intro strong {

    /* Make Anna Vu appear on its own line */
    display: block;
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subtitle--intro,
.section-subtitle--about {

    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em 1em;
}

/* ----------------------------END OF CUSTOM PROPS----------------------------------- */
/* Header */
nav {
    display: none;
}

/* Styling Intro Section */
.intro {
    position: relative;
}

.intro--img {
    box-shadow: var(--bs);
}
.section-subtitle--intro {
    display: inline-block;
}

/* WHat happen when screen is 600px and up */
@media (min-width: 600px) {

    .intro {
        display: grid;
        grid-column-gap: 1em;

        /* The div with img will fit the content */
        width: min-content;
        /* The div with img will sit in the middle */
        margin: 0 auto;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
 
    }

    .intro--img {
        grid-area: img;
        min-width: 250px;

        /* Make sure img come on top */
        position: relative;
        z-index: 2;

    }

    .section-subtitle--intro {
        /* Having the text full stack web dev stop stretching but fit into the area  */
        align-self: start;
        /* Have it stretch the whole length all the way accross */
        grid-column: -1/1;
        /* Move it up and not overlap */
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }


    /* Styling the Services Section*/

    .my-services {
        
        background-image: url('../img/codingcoffee.jpg');

        /* Make sure the background img is not repeated itself*/
        background-size: cover;
        color: var(--clr-light);

        /* Make sure the background is dark */
        background-blend-mode: multiply;
        background-color: var(--clr-dark);

        text-align: center;

    }

    .section-title--services {
        color: var(--clr-accent);
        position: relative;
    }

    .section-title--services::after {

        /* pseudo element bar */
        content: '';
        display: block;
        width: 3em;
        height: 1px;
        margin: 0.5em auto 1em;
        background: var(--clr-light);
        /* Make the background look a bit brighter */
        opacity: 0.25;
    }

    .services {
        margin-bottom: 4em;
    }

    .service {
        
        max-width: 500px;
        margin: 0 auto;
    }
    @media (min-width: 800px) {
        .services {
            display: flex;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
    
}